'context-menu':
  '.overlayer .source.coffee': [
    'label': 'Run in Atom'
    'command': 'run-in-atom:run-in-atom'
  ]
  '.overlayer .source.js': [
    'label': 'Run in Atom'
    'command': 'run-in-atom:run-in-atom'
  ]